{% extends "base.html" %}

{% load static %}

{% block content %}

{% for message in messages %}
  {% if 'success' in message.tags %}
    <p class="alert alert-success" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
  {% else %}
    <p class="alert alert-danger" role="alert"><span style="font-weight: bold">{{ message }}</span></p>
  {% endif %}
{% endfor %}


<div class="page-header">
    <h2>LISTA DOS RESULTADOS DA ÁGUA BRUTA<br>
        <p class="lead">
            Preencha todos os campos obrigatórios.
        </p>
        <span class="pull-right">
            <a href="{% url 'captacao:captacao_add' %}">
              <button type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span> Adicionar
              </button>
            </a>
        </span>
    </h2>

    {% if object_list %}

    <div class="table-reponsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>DATA</th>
              <th>HORA</th>
              <th>COR BRUTA</th>
              <th>PH BRUTA</th>
              <th>TURBIDEZ BRUTA</th>
            </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
              <tr>
                <td class="text-left">{{ object.data|date:"d/m" }}</td>
                <td>
                  <a href="{% url 'captacao:captacao_update' object.pk %}">{{ object.hora }}</a>
                </td>
                <td class="text-left">{{ object.cor_b }}</td>
                <td class="text-left">{{ object.ph_b}}</td>
                <td class="text-left">{{ object.turbidez_b}}</td>
                <td>
                      <a href="{% url 'captacao:captacao_delete' object.pk %}" class="btn btn-danger btn-sm"
                         title="Excluir" onclick="return confirm('Tem certeza que deseja exluir?')" >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                </td>
              </tr>
          </tbody>
      {% endfor %}
        </table>
    </div>
    
    <div class="pagination">
        <span class="step_links">
            {% if object_list.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ object_list.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}">próxima</a>
                <a href="?page={{ object_list.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>

  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}

</div>

{% endblock content %}l>