body {
  margin-top: 80px;
}

#jumbotron{
    margin-top: rem;
}

.ok {
  color: green;
}

.no {
  color: red;
}

.pagination{
    margin-bottom: 20px;
}

.step_links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}